 <!-- TIPOGRAPHY -->
<!-- <div class="mat-display-4">Display 4</div>
<div class="mat-display-3">Display 3</div>
<div class="mat-display-2">Display 2</div>
<div class="mat-display-1">Display 1</div>

<div class="mat-headline">h1</div>
<div class="mat-title">h2</div>
<div class="mat-subheading-2">h3</div>
<div class="mat-subheading-1">h4</div>

<div class="mat-body-1">Body text</div>
<div class="mat-body-2">Body text with bold</div>
<div class="mat-caption">Caption text</div> -->

<!-- BUTTONS -->
<!-- <div>
  <button mat-button disableRipple color="primary">Click me</button>
  <button mat-raised-button color="accent">Click me</button>
  <button mat-flat-button>Click me</button>
  <button mat-stroked-button color="warn">Click me</button>
</div>
<div>
  <button mat-icon-button>Icon</button>
  <button mat-fab>Fab</button>
  <button mat-mini-fab>Mini</button>
</div> -->

<!-- BUTTON TOGGLE -->
<div>
  <mat-button-toggle checked disableRipple #toggleBtn>Toggle</mat-button-toggle>{{toggleBtn.checked}}
</div>
<div>
  <mat-button-toggle-group #toggleGroup="matButtonToggleGroup" multiple>
    <mat-button-toggle value="angular">Angular</mat-button-toggle>
    <mat-button-toggle value="react">React</mat-button-toggle>
    <mat-button-toggle value="vue">Vue</mat-button-toggle>
  </mat-button-toggle-group>
  {{toggleGroup.value}}
</div>